@font-face {
    font-family: "oaGothic";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "oaGothic";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/oaGothic/oaGothic-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
.oaGothic {
    font-family: "oaGothic";
}
.oaGothic500 {
    font-family: "oaGothic";
    font-weight: 500;
}
.oaGothic800 {
    font-family: "oaGothic";
    font-weight: 800;
}